pandas
openai==0.27.7
beautifulsoup4==4.12.2
requests==2.31.0
ipykernel
pandasai
numpy
matplotlib
seaborn
#scikit-learn
tensorflow
keras
nltk
gensim
spacy
torch
transformers
llama-cpp-python
selenium
danlp
#sklearn
evaluate
transformers_interpret
wandb
dataset 
optuna